# Ignore all Python bytecode cache dirs
__pycache__/
**/__pycache__/

# Ignore VSCode settings folder
.vscode/

# Ignore everything under results by default
results/**

# Keep the results directory itself
!results/

# Keep only these four subfolders (and all their contents)
!results/sweep_experiments_k!v_s@w/
!results/sweep_experiments_k!v_s@w/**

!results/sweep_experiments_k=v_s@w/
!results/sweep_experiments_k=v_s@w/**

!results/sweep_experiments_k=v_q@o/
!results/sweep_experiments_k=v_q@o/**

!results/sweep_experiments_k=v_comb/
!results/sweep_experiments_k=v_comb/**

!results/*.txt

test/example.py
test/quick_test.py